<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bose</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="short icon" href="img.png" />
    <script src="main.js"></script>
  </head>
  <body class="fade-in">
    <header>
      <nav class="menu">
        <div id="logo">
          <a href="/">Bose</a>
        </div>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section class="first">
      <div class="paragraphe">
        <h1>Bose A30</h1>
        <p>
          Découvrez l'expérience sonore ultime avec les casques Bose A30 ! Un
          son exceptionnel, un design élégant et une réduction de bruit avancée
          pour une immersion totale dans votre musique préférée.
        </p>
      </div>
      <div id="image" class="image">
        <a href="float.html"><img src="img.png" alt="image" /></a>
      </div>
    </section>
    <section class="publicite">
      <img src="tar.png" alt="image" />
    </section>
    <section class="bose">
      <div id="div">
        <img src="boseb.png" alt="image" />
      </div>
      <div id="bose">
        <h3>Apportez le meilleur son <br />avec vous.</h3>
        <p>
          SYSTÈME S1 PRO <br />
          ÉCONOMISEZ 250,00 €
        </p>
        <a href=""><button>Acheter</button></a>
      </div>
    <footer>
      <p>Bose &copy 2023 Tous droits réservés</p>
    </footer>
  </body>
</html>