<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bose</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="short icon" href="img.png">
    <script src="main.js"></script>
</head>
<body class="fade-in">
    <header>
        <nav class="menu">
            <div id="logo">
                <a href="/">Bose</a>
            </div>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section id="Produits">
        <div class="product">
            <a href=""><div class="product-image">
                <img src="casque1.png" alt="Produit 1">
            </div></a>
            <h2>Casque Bose QuietComfort® 45 Headphones</h2>
            <a href=""><p class="price">29.99 €</p></a>
        </div>
    
        <div class="product">
            <a href=""><div class="product-image">
                <img src="casque.png" alt="Produit 2">
            </div></a>
            <h2>Bose Noise Cancelling Headphones 700</h2>
            <a href=""><p class="price">19.99 €</p></a>
        </div>
    
        <div class="product">
            <a href=""><div class="product-image">
                <img src="casque2.png" alt="Produit 3">
            </div></a>
            <h2>Système d’enceintes Bluetooth® portables Bose S1 Pro</h2>
            <a href=""><p class="price">39.99 €</p></a>
        </div>
    
        <div class="product">
            <a href=""><div class="product-image">
                <img src="casque3.png" alt="Produit 4">
            </div></a>
            <h2>Bose SoundLink Mini II Édition Spéciale</h2>
            <a href=""><p class="price">49.99 €</p></a>
        </div>
    </section>
    <footer>
        <p>Bose &copy 2023 Tous droits réservés</p>
    </footer>
</body>
</html>